body {

    color: black;
    /* background-color: lightslategrey; */ */
    opacity: 0.85;
    background-image: linear-gradient(to bottom right, #bdc3c7, #2c3e50);
    
  }
  .jumbotron {
    background-image: url("../images/bacteria.png");
    background-size: 18% 100%;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    margin: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to bottom right, #bdc3c7, #2c3e50
    
  }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
  }
h1 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 275%;
  font-weight: bold;
}
p {
  font-family: 'Courier New', Courier, monospace;
  font-size: 165%;
  font-weight: 600;
}

